{% extends 'base.html' %}
{% block content %}
<h1>{{ review.title }}</h1>
<p>{{ review.description }}</p>
<p>Asked by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username }}</a> on {{ review.created_at}}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' pk=question.id %}">Edit review</a></p>
<p><a href="{% url 'review_delete' pk=review.id %}">Delete Review</a></p>
{% endif %}
{% if replies.count > 0 %}
<h3>{{ replies.count }} Reply{{ replies.count|pluralize }}:</h3>
{% endif %}
{% for reply in replies %}
<div class="panel">
  <p>{{ reply.text }}</p>
  { % if reply.user == user %}
  <p><a href="{% url 'reply_update' review_pk=review.id reply_pk=reply.id %}">Edit reply</a></p>
  <p><a href="{% url 'reply_delete' review_pk=review.id reply_pk=reply.id %}">Delete reply</a></p>
  {% endif %}
  <p>Answered by <a href="{% url 'user_detail' slug=reply.user.username %}">{{ reply.user.username }}</a> on {{ reply.created_at }} ({{ reply.vote_set.all.count }} Vote{{ reply.vote_set.all.count|pluralize }})</p>
  <form method= "post" action="{% url 'vote' %}">
      {% csrf_token %}
      <input type="hidden" name="reply" value="{{ reply.id}}" />
      <input type="hidden" name="review" value="{{ review.id}}" />
      <input type="hidden" name="user" value="{{ user.id}}" />
    <button>+</button>
  </form>
</div>
{% endfor %}
{% if not user_replies %}
<p><a href="{% url 'reply_create' pk=review.id %}">Write reply</a></p>
{% endif %}
{% endblock %}